<ion-header>
  <ion-navbar color = "primary">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf = '!_userService.loggedIn'>
    <h2>Welcome to Points of Interest!</h2>
    <h4>Please Log In</h4>
  <button ion-button (click)= "toLog()" color = "secondary"> log in here</button>
  <button ion-button (click)="toReg()" color = "secondary">or Register here!</button>

  </div>
  
  <div *ngIf = '_userService.loggedIn'>
    <h2>Welcome {{_userService.userInfo.firstName}}</h2>
    <button ion-button (click)="toLogOut()" color = "secondary"> Log Out</button>
  </div>

</ion-content>

