<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color = "primary">
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf = '_userService.loggedIn'> 
      <ion-list>
      <ion-item>User Name: {{_userService.userInfo.firstName}} {{_userService.userInfo.lastName}} </ion-item>
      <ion-item>Email: {{_userService.user.email}} </ion-item>
      <ion-item>Current Location: <br> Latitude: {{_maps.currentPos.lat}} <br> Longitude: {{_maps.currentPos.lng}}  </ion-item>
    </ion-list>
      <button ion-button (click)= 'toFav()' color = "secondary">Favorites</button>
  </div>
  <div *ngIf = '!_userService.loggedIn'>
    <h4>please login or create an account</h4>
  </div>

  
</ion-content>


